@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.top-bar {
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 15px #000a;
  padding: 10px;
}

.controls {
  display: inline-flex;
  flex-direction: row;
  margin-top: 10px;
}

.control {
  display: inline-flex;
  flex-direction: row;
  margin-right: 10px;
}

label {
  margin-right: 5px;
  align-self: center;
}
label::after {
  content: ':';
}

input {
  width: 200px;
  font-family: inherit;
}
input[type=number] {
  width: 50px;
}


div.image {
  position: relative;
  margin: 10px;
  box-shadow: 0 0 10px #000a;
  height: 100%;
  overflow: hidden;
}

img {
  display: none;
}

#offset {
  position: absolute;
  left: 50%;
  top: 50%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

#grid {
  background-color: transparent;
  position: absolute;
  --resizer-size: 16px;
  --inset-size: 6px;
  --inset: -10px;
  --corner-size: calc(var(--resizer-size) + 10px);
}
#grid > * {
  background-color: transparent;
  position: absolute;
  width: var(--resizer-size);
  height: var(--resizer-size);
  box-sizing: border-box;
}
#grid > .width {
  left: var(--inset-size);
  right: var(--inset-size);
  width: auto;
}
#grid > .height {
  top: var(--inset-size);
  bottom: var(--inset-size);
  height: auto;
}
#grid > .corner {
  width: var(--corner-size);
  height: var(--corner-size);
}
#grid > .top {
  top: var(--inset);
}
#grid > .right {
  right: var(--inset);
}
#grid > .bottom {
  bottom: var(--inset);
}
#grid > .left {
  left: var(--inset);
}