@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

img {
  display: none;
}

#grid {
  background-color: #f00a;
  position: absolute;
}